:root {
  --ff-main: "IBM Plex Sans", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.25rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 4rem;
  --fs-850: 4.063rem;
  --fs-900: 5.5em;
  --lh-100: 1;
  --lh-300: 1.2;
  --lh-400: 1.25;
  --lh-500: 1.556;
  --lh-600: 1.625;
  --lh-800: 1.7;
  --le-100: -0.1em;
  --le-200: -0.01125em;
  --le-300: -0.1136em;
  --le-400: -0.1141em;
  --ty-heading-main: var(--fw-bold) var(--fs-700)/var(--lh-300) var(--ff-main);
  --ty-copy-main: var(--fw-regular) var(--fs-200)/var(--lh-600) var(--ff-main);
  --ty-heading-secondary: var(--fw-bold) var(--fs-600) var(--ff-main);
  --ty-copy-secondary: var(--fw-regular) var(--fs-300)/var(--lh-500) var(--ff-main);
  --ty-price: var(--fw-regular) var(--fs-400) var(--ff-main);
  --ty-price-amount: var(--fw-bold) var(--fs-850) var(--ff-main);
  --ty-button: var(--fw-bold) var(--fs-300) var(--ff-main);
  --ty-footer: var(--fw-regular) var(--fs-200)/var(--lh-600) var(--ff-main);
  --cl-accent-100: hsl(177, 68%, 64%);
  --cl-accent-500: hsl(12, 94%, 65%);
  --cl-accent-900: hsl(33, 100%, 70%);
  --cl-neutral-200: hsl(20, 33%, 98%);
  --cl-neutral-800: hsl(244, 23%, 12%);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
.body {
  font-family: var(--ff-main);
  color: var(--cl-neutral-800);
  display: grid;
  align-content: center;
  margin: 0;
  min-height: 100svh;
  background-color: var(--cl-neutral-200);
  background-image: url('../images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: left -20%;
  scrollbar-gutter: stable;
}
.main-logo {
  margin: 2.5rem auto 0 1.5rem;
}
.main-heading {
  font: var(--ty-heading-main);
  letter-spacing: var(--le-200);
  margin: 4rem 1.5rem 0;
}
.main-copy {
  font: var(--ty-copy-main);
  margin: 1.25rem 1.5rem 0;
}
.premiun-section-wrapper {
  display: grid;
  grid-template-rows: 6.125rem 20.75rem 3rem 0.75rem 1fr;
  margin-block: 4.25rem;
}
.premiun-section-wrapper::after {
  content: '';
  grid-column: 1;
  grid-row: 2/5;
  z-index: -1;
  background-color: var(--cl-neutral-800);
  background-image: url('../images/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;
  border-radius: 0.75rem 0.75rem 0 0;
}
.premiun-section-wrapper__banner {
  grid-column: 1;
  grid-row: 1 / 3;
  margin-inline: auto;
  max-width: 13.063rem;
}
.premiun-section-wrapper__section {
  grid-column: 1;
  grid-row: 4/6;
}
.premiun-section {
  background: var(--cl-accent-500);
  letter-spacing: var(--le-200);
  color: var(--cl-neutral-200);
  display: grid;
  padding: 3rem 2.25rem;
  border-radius: 0.75rem;
}
.premiun-section__title {
  font: var(--ty-heading-secondary);
  margin: 0;
}
.premiun-section__copy {
  font: var(--ty-copy-secondary);
  margin-block: 0.75rem 0;
}
.premiun-section__price {
  font: var(--ty-price);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 2.25rem 0;
}
.premiun-section__price-amount {
  font: var(--ty-price-amount);
}
.premiun-section__button {
  font: var(--ty-button);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.2rem;
  gap: 0.5rem;
  border: none;
}
.premiun-section__button--ios {
  background: var(--cl-neutral-800);
  color: var(--cl-neutral-200);
  margin-top: 2.25rem;
}
.premiun-section__button--ios:hover {
  background: var(--cl-accent-100);
}
.premiun-section__button--android {
  background: var(--cl-neutral-200);
  color: var(--cl-neutral-800);
  margin-top: 0.75rem;
}
.premiun-section__button--android:hover {
  background: var(--cl-accent-900);
}
.main-footer {
  font: var(--ty-footer);
  display: grid;
  margin: 4rem 1.5rem 5rem;
}
.main-footer__copy-right {
  margin-block: 2rem 0;
}
.main-footer__contact {
  margin: 0;
}
.main-footer__email-link {
  font-weight: var(--fw-bold);
  color: inherit;
  text-decoration: none;
}
.main-footer__social-networks {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 4rem;
  line-height: 1;
}
.signature {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
/*# sourceMappingURL=./styles.css.map */